@charset "UTF-8";

.masthead-refresh .js-stuck {
    position: static !important;
}

.overlay-form .modal-container {
    max-width: 100%;
}

#get-updates-form.form-enterprise {
    max-width: 100%;
}

#get-updates-form.form-enterprise li {
    margin-bottom: 0;
}
